<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <a href="/">page admin</a>
    <h1><span style="color: red;">CUSTOMER </span>PAGE</h1>
    <h1>Welcome $Customer</h1>
    <p>Search</p>
    <form action="/products/customer" method="get">
        <input type="text" name="searchTitle" placeholder="search product">
        <input type="text" name="searchCategory" placeholder="search by category">
        <button type="submit">Search</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
            <% products.forEach((e, index)=> { %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= e.name %>
                    </td>
                    <td>
                        <%= e.price %>
                    </td>
                    <td>
                        <%= e.description %>
                    </td>
                    <td>
                        <%= e.formatDate %>
                    </td>
                    <td>
                        <%= e.Category.name %>
                    </td>
                    <td>
                        <a href="/detail/<%= e.id %>"><button>Detail</button></a>
                    </td>
                </tr>
                <% }) %>
        </thead>
    </table>
    <a href=""><button>Admin Page</button></a>
</body>

</html>